h3 {
color:green;
text-align:center;
}

p{
color : red;
}

table {
		border:2px solid black;
		border-collapse: collapse;
		width: 100%;
		table-layout:auto;
		width: 50%;
	}
	
th {
	color:black;
border: 2px solid black;
text-align:center;
padding: 10px;
text-weight:bold;
font-size:30px;
}
td {
border: 2px solid black;
text-align:center;
padding: 10px;
}
footer{
	text-weight:bold;
	text-align:center;
	font-size:24px;
color:green;
	}
.container {
      display: flex;
      flex-wrap: wrap;
  }
